.chat-group-form
  %h1 新規チャットグループ
  = form_for(@group) do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        .chat-group-form__label{:for => "chat_group_name"}
          = f.label :グループ名
      .chat-group-form__field--right
        = f.text_field :name, :placeholder => "グループ名を入力してください", class: "chat-group-form__input"
        / %input#chat_group_name.chat-group-form__input{:name => "chat_group[name]", :placeholder => "グループ名を入力してください", :type => "text"}/
    / .chat-group-form__field.clearfix
    /   .chat-group-form__field--left
    /     %label.chat-group-form__label{:for => "chat_group_チャットメンバーを追加"} チャットメンバーを追加
    /   .chat-group-form__field--right
    /     .chat-group-form__search.clearfix
    /       %input#user-search-field.chat-group-form__input{:placeholder => "追加したいユーザー名を入力してください", :type => "text"}/
    /     #user-search-result
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        .chat-group-form__label{:for => "chat_group_チャットメンバー"}
          = f.label :チャットメンバー
      .chat-group-form__field--right
        = f.collection_check_boxes :user_ids, User.all, :id, :name do |ff|
          = ff.label {ff.check_box + ff.text}
      / .chat-group-form__field--right
      /   #chat-group-users
      /     #chat-group-user-22.chat-group-user.clearfix
      /       %input{:name => "chat_group[user_ids][]", :type => "hidden", :value => "22"}/
      /       %p.chat-group-user__name=current_user.name
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit 'Save', class: "chat-group-form__action-btn"
